*.lst
*.o


src/beginning_x86_assembly_programming/01_hello_world/hello_world
src/beginning_x86_assembly_programming/02_alive/alive
src/beginning_x86_assembly_programming/03_hello_printf/hello_printf
